body {
    margin: 60px auto;
    width: 50%;
    background-color: #0715cd;
}
nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
    color: lavenderblush;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: right;
    color: lavenderblush;
}
li {
    color: lavenderblush;
    line-height: .15em;
}
a:link {
    text-decoration: underline;
    color: lightblue;
}
a:hover {
    text-decoration: underline;
    color: lavenderblush;
}
a:active {
    text-decoration: underline;
    color: green;
}
a:visited {
    text-decoration: underline;
    color: lightskyblue;
}
h1 {
    font-size: 2em;
    line-height: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    color: yellow;
}
h2 {
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    color: yellow;
}
p {
    font-size: 1em;
    line-height: .15em;
    color: lavenderblush;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .5em;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
    color: lavenderblush;
}
ul.posts li {
    list-style: none;
    color: lavenderblush;
}